/* Define CSS variables */
:root {
    --color-primary: #091a31;
    --color-accent: #b1ff34;
    --color-ripple: #b1ff341a;
    --color-text: #cdd6f6;
    --color-text-light: #8992b0;
}

* {
    font-family: "NTR", sans-serif;
    /* font-weight: 400;
    font-style: normal; */
}

html {
    scroll-behavior: smooth;
}

body.bg-surface,
nav {
    background-color: var(--color-primary) !important;
}

.hidden {
    display: none;
}

.text-accent {
    color: var(--color-accent)
}

.text-headers {
    color: var(--color-text)
}

.text-item {
    color: var(--color-text)
}

.text-item:hover {
    color: var(--color-accent)
}

.text-paragraph {
    color: var(--color-text-light);
}

.text-paragraph li {
    display: flex;
    align-items: flex-start;
}

.text-paragraph li i {
    margin-right: 8px;
    /* Adjust the spacing as needed */
}

.text-paragraph li::marker {
    content: none;
    /* Remove default list marker */
}

.button-primary {
    border: var(--color-accent) 1px solid;
    color: var(--color-accent)
}

.button-primary:hover {
    background-color: var(--color-ripple);
}

.icon-primary {
    fill: var(--color-text-light)
}

.tab-content[aria-hidden="true"] {
    display: none;
}

.tab-content {
    display: none;
}

.tab-content:target {
    display: block;
}

.tab-item {
    color: var(--color-text-light);
    padding: 0;
    font-weight: lighter;
    font-size: larger
}


#experienceTab a[aria-selected="true"] {
    color: var(--color-accent);
}